        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column margin-top-100 page-fade-in">

            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                  <div class="container-fluid start-screen h-100 row">
                  	<div class="card shadow mb-4">
                        <div class="card-header py-3 ">
					<div class="row">
						<h3 class="m-0 font-weight-bold text-primary col-md-6">Data riwayat bon</h3>
					</div>
                        </div>
                        <div class="card-body row">
                            <div class="table-responsive col-md-12">
                                <table class="table table-bordered table-bon-riwayat" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Nomor Bon</th>
                                            <th>Nama</th>
                                            <th>Subagian</th>
                                            <th>Keperluan</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>No</th>
                                            <th>Nomor Bon</th>
                                            <th>Nama</th>
                                            <th>Subagian</th>
                                            <th>Keperluan</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer">
                        	Note : *Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias natus totam magnam consequuntur numquam quas, quia omnis, repellat facilis animi est accusantium, consectetur sed rem iusto sit nam facere ducimus.
                        </div>
                    </div>    
            	</div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <script src="../../assets/js/demo/datatables-demo.js"></script>
    <script src="../controllers/bon-riwayat.js"></script>

<!-- Modal -->
<div id="bon-tolak" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title text-danger" id="exampleModalLabel">hapus data ?</h5>
                 <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">×</span>
                 </button>
             </div>
             <div class="modal-body">Apakah anda ingin menolak bon ini ? .</div>
             <div class="modal-footer">
                 <button class="btn btn-secondary" type="button" data-dismiss="modal">Batalkan</button>
                 <button id="btn-tolak-bon" class="btn btn-danger"  data-dismiss="modal" >ya, tolak bon</button>
             </div>
         </div>
     </div>
</div>

<div id="bon-terima" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title text-danger" id="exampleModalLabel">hapus data ?</h5>
                 <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">×</span>
                 </button>
             </div>
             <div class="modal-body">Apakah anda ingin menerima bon ini ? .</div>
             <div class="modal-footer">
                 <button class="btn btn-secondary" type="button" data-dismiss="modal">Batalkan</button>
                 <button id="btn-terima-bon" class="btn btn-primary"  data-dismiss="modal" >ya, terima bon</button>
             </div>
         </div>
     </div>
</div>

<div id="bon-selesai" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title text-danger" id="exampleModalLabel">hapus data ?</h5>
                 <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">×</span>
                 </button>
             </div>
             <div class="modal-body">Apakah bon ini sudah selesai ? .</div>
             <div class="modal-footer">
                 <button class="btn btn-secondary" type="button" data-dismiss="modal">Batalkan</button>
                 <button id="btn-selesai-bon" class="btn btn-success"  data-dismiss="modal" >ya, bon telah selesai</button>
             </div>
         </div>
     </div>
</div>


<div id="bon-riwayat-error" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title text-info" id="exampleModalLabel">Proses Gagal</h5>
                 <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">×</span>
                 </button>
             </div>
             <div class="modal-body">Maaf, permintaan anda gagal diproses !</div>
             <div class="modal-footer">
                 <button class="btn btn-secondary" type="button" data-dismiss="modal">keluar</button>
             </div>
         </div>
     </div>
</div>
