        <!-- Content Wrapper -->
        <div id="user-client-form"></div>


        <div id="content-wrapper" class="d-flex flex-column margin-top-100 page-fade-in">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                  <div class="container-fluid start-screen h-100 row">
                    
                        <div class="container content-area">

                            <!-- Animated -->
                            <div class="animated fadeIn">
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="card">
                                          <div class="card-header">
                                            <button class="btn btn-primary" data-target="#modal_tambah_kamar" data-toggle="modal">
                                                  <span class="ti-plus"></span>
                                                  tambah bagian baru
                                            </button>
                                              <strong class="card-title" style="float: right;">Data user clent</strong>
                                          </div>
                                          <div class="card-body">
                                              <table id="dataTable" class="table table-striped table-bordered table-list-kamar">
                                                  <thead>
                                                      <tr>
                                                          <th>No</th>
                                                          <th>Blok</th>
                                                          <th>kamar</th>
                                                          <th>Action</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      
                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <!-- .animated -->

                            </div>
                            
                </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->


    <script src="../controllers/kamar.js"></script>

     <div class="modal fade" id="modal_delete_kamar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="exampleModalLabel">Hapus kamar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Apakah anda ingi menghapus kamar ini ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batalkan</button>
                    <button type="button" class="btn btn-danger" id="btn-delete-kamar">Ya, hapus kamar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_tambah_kamar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-primary" id="exampleModalLabel">Tambah kamar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form-tambah-kamar">
                        <div class="row">
                          <div class="col cell-3">
                              <label f="text-input" class=" form-control-label">Nama Blok</label>
                          </div>
                          <div class=" cell-9">
                              <select class="form-control" name="master_blok_id" id="blok_list">
                                  
                              </select>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col cell-3">
                              <label f="text-input" class=" form-control-label">Nama Kamar</label>
                          </div>
                          <div class=" cell-9">
                              <input type="text" id="warna_kamar" name="nama_kamar" placeholder="asdasd" class="form-control">
                              <small class="form-text text-muted">*data tidak boleh kosong</small>
                          </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batalkan</button>
                    <button type="button" class="btn btn-primary" id="btn-tambah-kamar">Tambah kamar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal_edit_kamar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-primary" id="exampleModalLabel">Tambah kamar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form-edit-kamar">
                        <div class="row">
                          <div class="col cell-3">
                              <label f="text-input" class=" form-control-label">Nama Blok</label>
                          </div>
                          <div class=" cell-9">
                              <select class="form-control" name="master_blok_id" id="edit_blok_list">
                                  
                              </select>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col cell-3">
                              <label f="text-input" class=" form-control-label">Nama Kamar</label>
                          </div>
                          <div class=" cell-9">
                              <input type="hidden" id="edit_kamar_id" name="master_kamar_id" class="form-control">
                              <input type="text" id="edit_nama_kamar" name="nama_kamar" placeholder="" class="form-control">
                              <small class="form-text text-muted">*data tidak boleh kosong</small>
                          </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batalkan</button>
                    <button type="button" class="btn btn-primary" id="btn-edit-kamar">Ubah kamar</button>
                </div>
            </div>
        </div>
    </div>