        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column margin-top-100 page-fade-in">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                  <div class="container-fluid start-screen h-100 col-md-10">
                  	
				    <div class="card">
                                <div class="card-header">
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#modalTambahNapi">
                                        <span class="ti-plus"></span>
                                        tambah data baru
                                    </button>
                                    <strong class="card-title" style="float: right;">Data Napi</strong>
                                </div>
                                <div class="card-body">
                                    <table id="dataTable" class="table table-striped table-bordered table-data-napi">
                                        <thead>
                                            <tr>
                                                <th>No reg</th>
                                                <th>Profile</th>
                                                <th>Nama</th>
                                                <th>Kamar</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>12</td>
                                                <td><img src="http://localhost/ebon/uploads/napi/foto-NPI-1396820-20190203085021.jpg" alt="" style="width: 50px"></td>
                                                <td>napi 2</td>
                                                <td>BLOK 1 / kamar 2</td>
                                                <td>
                                                    <button class="btn btn-danger btn-delete-napi" data-toggle="modal" data-target="#modalDeleteNapi" data-napi-id="NPI-1396820-20190203085021">
                                                        <span class="mif-bin mif-lg fg-white"></span>
                                                    </button>
                                                    <a href="http://ebonpas.epizy.com/index.php/admin/napi/edit/NPI-1396820-20190203085021" class="btn btn-success">
                                                        <span class="mif-pencil mif-lg fg-white"></span>
                                                    </a>
                                                    <button class="btn btn-primary">
                                                        <span class="mif-eye mif-lg fg-white"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>11</td>
                                                <td><img src="http://localhost/ebon/uploads/napi/foto-NPI-53253045-20190207065539.png" alt="" style="width: 50px"></td>
                                                <td>napi 3</td>
                                                <td>BLOK 1 / kamar 2</td>
                                                <td>
                                                    <button class="btn btn-danger btn-delete-napi" data-toggle="modal" data-target="#modalDeleteAdmin" data-napi-id="NPI-53253045-20190207065539">
                                                        <span class="fa fa-trash-alt"></span>
                                                    </button>
                                                    <button data-id-napi="" class="btn btn-success">
                                                        <span class="fa fa-edit"></span>
                                                    </button>
                                                    <button class="btn btn-primary">
                                                        <span class="fa fa-eye"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        

                            
            	</div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <script src="../controllers/data_napi.js"></script>


<div class="modal fade" id="modalTambahNapi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
       <div class="modal-content ">
           <div class="card">
              <div class="card-header">
                  <strong>Input Data</strong> Tahanan
              </div>
              <div class="card-body card-block">
                  <form class="form-horizontal" id="form-tambah-napi">

                      <div class="row">
                          <div class="col cell-3">
                              <label f="text-input" class=" form-control-label">Nomor </label>
                          </div>
                          <div class=" cell-9">
                              <input type="text" id="text-input" name="napi_no_reg" placeholder="contoh : 198503302003121002" class="form-control">
                              <small class="form-text text-muted">*data tidak boleh kosong</small>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col cell-3">
                              <label f="text-input" class=" form-control-label">Nama Tahanan</label>
                          </div>
                          <div class=" cell-9">
                              <input type="text" id="text-input" name="napi_nama" placeholder="Nama lengkap tahanan" class="form-control">
                              <small class="form-text text-muted">*data tidak boleh kosong</small>
                          </div>
                      </div>
                      <div class="row">
                          <div class=" cell-3"><label for="select" class=" form-control-label">Kamar</label></div>
                          <div class=" cell-3">
                              <select id="select_blok" class="form-control">
                                  
                              </select>
                          </div>
                          <div class=" cell-6">
                              <select name="napi_kamar" id="napi_kamar_wrapper" class="form-control">
                              </select>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col cell-3"><label class=" form-control-label">Jenis Kelamin</label></div>
                          <div class="col cell-9">
                              <div class="form-check-inline form-check">
                                  <label for="inline-radio1" class="form-check-label ">
                                      <input type="radio" id="inline-radio1" name="napi_sex" value="0" class="form-check-input">Laki - laki
                                  </label>
                                  <label for="inline-radio2" class="form-check-label ">
                                      <input type="radio" id="inline-radio2" name="napi_sex" value="1" class="form-check-input">Perempuan
                                  </label>

                              </div>
                          </div>
                      </div>

                      <div class="row">
                          
                          <div class="cell-5">
                              <button type="reset" class="btn btn-default">Reset Data</button>
                              <button type="button" class="btn btn-primary" id="btn-simpan-napi">Simpan data</button>
                          </div>
                      </div>
              </div>
          </div>
       </div>
   </div>
</div>

<div class="modal fade" id="modalEditNapi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
       <div class="modal-content ">
           <div class="card">
              <div class="card-header">
                  <strong>Ubah Data</strong> Tahanan
              </div>
              <div class="card-body card-block">
                  <form class="form-horizontal" id="form-tambah-napi">

                      <div class="row">
                          <div class="col cell-3">
                              <label f="text-input" class=" form-control-label">Nomor </label>
                          </div>
                          <div class=" cell-9">
                              <input type="text" id="napi_no_reg_edit" name="napi_no_reg" placeholder="contoh : 198503302003121002" class="form-control">
                              <small class="form-text text-muted">*data tidak boleh kosong</small>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col cell-3">
                              <label f="text-input" class=" form-control-label">Nama Tahanan</label>
                          </div>
                          <div class=" cell-9">
                              <input type="text" id="napi_nama_edit" name="napi_nama" placeholder="Nama lengkap tahanan" class="form-control">
                              <small class="form-text text-muted">*data tidak boleh kosong</small>
                          </div>
                      </div>
                      <div class="row">
                          <div class=" cell-3"><label for="select" class=" form-control-label">Kamar</label></div>
                          <div class=" cell-3">
                              <select id="select_blok_edit" class="form-control" name="select_blok_edit">
                                  
                              </select>
                          </div>
                          <div class=" cell-6">
                              <select name="napi_kamar" id="napi_kamar_wrapper_edit" class="form-control">
                              </select>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col cell-3"><label class=" form-control-label">Jenis Kelamin</label></div>
                          <div class="col cell-9">
                              <div class="form-check-inline form-check">
                                  <label for="inline-radio1" class="form-check-label ">
                                      <input type="radio" id="inline-radio1-edit" name="napi_sex" value="0" class="form-check-input">Laki - laki
                                  </label>
                                  <label for="inline-radio2" class="form-check-label ">
                                      <input type="radio" id="inline-radio2-edit" name="napi_sex" value="1" class="form-check-input">Perempuan
                                  </label>

                              </div>
                          </div>
                      </div>

                      <div class="row">
                          
                          <div class="cell-5">
                              <button class="btn btn-default" data-dismiss="modal">Batalkan</button>
                              <button type="button" class="btn btn-success" id="btn-edit-napi">Ubah Data</button>
                          </div>
                      </div>
              </div>
          </div>
       </div>
   </div>
</div>


   <div class="modal fade" id="modal_delete_napi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="exampleModalLabel">Hapus napi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Apakah anda ingi menghapus napi ini ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batalkan</button>
                    <button type="button" class="btn btn-danger" id="btn-delete-napi">Ya, hapus napi</button>
                </div>
            </div>
        </div>
    </div>