        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column margin-top-100 page-fade-in">

            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                    <div class="container-fluid start-screen h-100 row">
                        <div class="tiles-area clear" id="admin-section" style="display: none">
                            <div class="tiles-grid tiles-group size-2 fg-white" data-group-title="General">
                                <div data-role="tile" data-page="page/blok-lapas.html" class="bg-gradient-warning navigate-spa">
                                    <span class="fa fa-bars icon"></span>
                                    <span class="branding-bar">Blok Lapas</span>
                                </div>
                                <div data-role="tile" data-page="page/bon-napi.html" class="bg-gradient-info navigate-spa">
                                    <span class="fa fa-book-reader icon"></span>
                                    <span class="branding-bar">Bon napi </span>
                                </div>
                                <div data-role="tile" data-page="page/bon-riwayat.html" data-size="wide" class="bg-gradient-danger navigate-spa">
                                    <span class="fa fa-history icon"></span>
                                    <span class="branding-bar">Riwayat bon napi</span>
                                </div>
                                <div data-role="tile"  data-size="small">
                                    <span class="fa fa-book icon"></span>
                                </div>
                            </div>

                            <div class="tiles-grid tiles-group size-2 fg-white" data-group-title="User management">
                                <div data-role="tile" data-page="page/user-client.html" class="bg-gradient-success navigate-spa">
                                    <span class="fa fa-user-friends icon"></span>
                                    <span class="branding-bar">User client</span>
                                </div>
                                <div data-role="tile" data-page="page/user-admin.html" class="bg-gradient-primary navigate-spa">
                                    <span class="fa fa-user-shield icon"></span>
                                    <span class="branding-bar">User admin </span>
                                </div>
                            </div>

                            <div class="tiles-grid tiles-group size-2 fg-white" data-group-title="Master management">
                                <div data-role="tile" data-page="page/data-pegawai.html" class="bg-gradient-warning" data-size="wide navigate-spa">
                                    <span class="fa fa-sitemap icon"></span>
                                    <span class="branding-bar">Data pegawai</span>
                                </div>
                                <div data-role="tile" data-page="page/data-napi.html" class="bg-gradient-secondary navigate-spa">
                                    <span class="fa fa-user-secret icon"></span>
                                    <span class="branding-bar">Data Napi </span>
                                </div>
                                <div data-role="tile" data-page="page/data-subagian.html" class="bg-gradient-info navigate-spa">
                                    <span class="fa fa-landmark icon"></span>
                                    <span class="branding-bar">Data Subagian </span>
                                </div>
                                <div data-role="tile" data-page="page/data-kamar.html" class="bg-gradient-primary navigate-spa">
                                    <span class="fa fa-bed icon"></span>
                                    <span class="branding-bar">Data kamar</span>
                                </div>
                            </div>
                        </div>


                        <div class="tiles-area clear" id="user-section" style="display: none">
                            <div class="tiles-grid tiles-group size-2 fg-white" data-group-title="General">
                                <div data-role="tile" data-page="page/blok-lapas.html" data-size="wide" class="bg-gradient-warning navigate-spa">
                                    <span class="fa fa-bars icon"></span>
                                    <span class="branding-bar">Blok Lapas</span>
                                </div>
                            </div>

                            <div class="tiles-grid tiles-group size-2 fg-white" data-group-title="User management">
                                <div data-role="tile" data-page="page/bon-napi.html" data-size="wide" class="bg-gradient-info navigate-spa">
                                    <span class="fa fa-book-reader icon"></span>
                                    <span class="branding-bar">Bon napi </span>
                                </div>
                            </div>

                            <div class="tiles-grid tiles-group size-2 fg-white" data-group-title="Master management">
                                <div data-role="tile" data-page="page/bon-riwayat.html" data-size="wide" class="bg-gradient-danger navigate-spa">
                                    <span class="fa fa-history icon"></span>
                                    <span class="branding-bar">Riwayat bon napi</span>
                                </div>
                                
                            </div>
                        </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <script>
        var _session = require('../core/create_session');
        var this_role = JSON.parse(_session.this_user()).user_login_role;
        console.log(this_role)

        setTimeout(function () {
            if (Boolean(this_role)) {
                console.log('adimin')
                document.getElementById("admin-section").style = 'display : blok !important';
                document.getElementById("user-section").style.display = 'none';
            }else{
                console.log('user')
                document.getElementById("admin-section").style.display = 'none';
                document.getElementById("user-section").style = 'display : blok !important';
            }

            $(".navigate-spa").each(function (i, e) {
                if (!Boolean(e.getAttribute("data-adding-event"))) {
                    console.log('adding menu')
                    e.addEventListener("click", navigate_page);
                    e.setAttribute("data-adding-event", "true");
                }
            })
        }, 550)

        function navigate_page() {
            var page = this.getAttribute("data-page");
            loadPage(page);
        }

        function loadPage(page) {
            preloading_show();
            setTimeout(function () {
                $('#template-content-section').load(page, function (res, status, xhr) {
                });
                preloading_hide();
            }, 500)
        }

        function preloading_show() {
            $('#template-preloading').css("top", "0px");
        }

        function preloading_hide() {
            $('#template-preloading').css("top", "-200vh");
        }

    </script>